
        @import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
        .container {  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
  grid-template-rows: 0.3fr 2.2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "gameplay store display"
    "description description description";
    height: 100vh;
}

.gameplay { 
    grid-area: gameplay;
    color: white;
}

.store { 
    grid-area: store; 
    background-color: black;
}

.display { 
    grid-area: display; 
}

.header { 
    grid-area: header;
    background-color: black;
    color: white;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.description { 
    grid-area: description; 
    background-color: black;
    color: white;

}

p{
    color: white;
}

body {
    background-image: url("images/binary-code-475664_640.webp");
}